@font-face {
  font-family: 'Inconsolata', monospace;
  src: url('src/fonts/inconsolata.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inconsolata', monospace !important;  
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

body{
  background: var(--dark); 
}
