.tab{
  float: left;
  border: 1px solid var(--blue-3);
  margin: 1px;
  height: 100%;
  color: var(--white);
  font-size: 12px;
  padding: 3px;
}

.tabOver{
  background: var(--blue-2);
  cursor: pointer;  
}

.tabSelected{
  background: var(--blue-3);
  cursor: default;
}
